{% load staticfiles %}
<html>
    <head>
        <title>Dans Website</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id='wrapper'>
            <div id='menu'>
                <ul>
                    {% comment %}
                    <li><a href="{% url 'bloghome' %}">blog</a></li>
                    {% endcomment %}
                    <li><a href="https://github.com/DanielBurgess91">git</a></li>
                    <li><a href="{% url 'about' %}">about</a></li>
                </ul>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
